* {
  padding: 0;
  margin: 0;
}

.game {
  display: flex;
  width: 835px;
  height: 279px;
  background-image: url(../media/img/daily-mission-background.png);
  border: 1px solid black;
  justify-content: space-between;
  overflow: hidden;
}

.airplane {
  position: relative;
  top: 35%;
  left: 20px;
}

.up-animation {
  animation: jump-up 500ms linear;
}

.down-animation {
  animation: jump-down 500ms linear;
}

.obstacles {
  position: relative;
  top: 20%;
}

.obstacles-first-line,
.obstacles-second-line {
  position: relative;
  display: flex;
  gap: 220px;
  animation: obstacles 8s infinite linear;
}

@keyframes jump-up {
  0% {top: 20%;}
  100% {top: 20%;}
}

@keyframes jump-down {
  0% {top: 50%;}
  100% {top: 50%;}
}

@keyframes obstacles {
    0%{left:835px;}
    100%{left:-835px;}
}

