/* GENERAL */
  h1, h2, h3 {
    font-family: Sora;
  }
  
/* NAV BAR */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 65px;
  background-color: white;
  border-bottom: 1px solid #02304765;
  font-size: 16px;
  font-weight: 600;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
}

.left-side {
  display: flex;
  margin-right: 180px;
  gap: 30px;
}

.planner-nav {
  text-decoration: none;
  color: black;
}

.logo {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

/* UNLOGGED */

.login-nav-btn {
  padding: 8px 20px;
  background-color: #FFB703;
  border: 2px solid #FFB703;
  border-radius: 10px;
}

.register-nav-btn {
  padding: 8px 20px;
  background-color: transparent;
  border: 2px solid #FFB703;
  border-radius: 10px;
  color: #FFB703;
}

/* LOGGED */

.right-side {
  display: flex;
  align-items: center;
  gap: 5px;
}

.profile, .points, .notifications {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 10px;
}

.notifications-title {
  display: none;
}

.notifications:active {
  border: 1px solid #02304765;
  border-radius: 10px;
  background-color: #FFB703;
}

.notifications:hover .notifications-title {
  display: flex;
}

.dropdown {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.profile {
  position: relative;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  background-color: white;
  position: absolute;
  top: 50px;
  border: 1px solid #02304765;
  border-radius: 20px;
  padding: 10px;
}

.dropdown-content a {
  text-decoration: none;
  color: black;
  padding: 10px;
  width: 130px;
  font-size: 14px;
}

.dropdown-content a:hover {
  border: 1px solid #02304765;
  border-radius: 15px;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown-content:focus {
  display: flex;
}

.numPoints {
  color: #FFB703;
}

/* MAIN */

main {
  background-color: #FFB703;
  padding: 100px 180px;
}


.planner-section {
  background-color: white;
  border: 1px solid #02304765;
  border-radius: 20px;
  padding: 40px;
}

.planner-section h1 {
  font-weight: 700;
  font-size: 48px;
  width: 500px;
  color: #023047;
}

.plan-trip-btn {
  background-color: #219EBC;
  font-weight: 600;
  border: 1px solid #02304765;
  border-radius: 10px;
}

/* FOOTER */
footer {
  background-color: #023047;
  padding: 25px 50px;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: inter;
}

.footer-top {
  display: flex;
  gap: 170px;
}


footer h3 {
  font-family: Sora;
  margin: 0px 0px 10px 0px;
  font-size: 24px;
  font-weight: 700;
}

.footer-description {
  width: 500px;
  font-size: 14px;
  margin-top: 5px;
}

.navigation-footer, .contacts-footer {
  font-size: 14px;
}

.navigation-footer > div {
  margin-bottom: 10px;
}

.contacts-footer > div {
  margin-bottom: 10px;
}

.contact-info {
  text-decoration: underline;
}


hr {
  margin: 20px 0px;
  border: 1px solid white;
  width: 100%;
}

.bottom-footer {
  display: flex;
  font-size: 14px;
  font-weight: 300;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  gap: 30px;
}

.footer-links > a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.social-media {
  gap: 10px;
}

.social-media div {
  gap: 5px;
}