body {
  background-color: #FFB703;
}

main {
  padding: 55px 0px 0px 0px !important;
}

.tab-content {
  padding: 40px 180px;
}

/* STEPS NAV */
.steps-nav {
  display: flex;
  justify-content: center;
  padding: 20px;
  border: 1px solid #02304765;
  background-color: white;
  flex-wrap: nowrap;
}

.steps-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

.steps-container {
  position: relative;
  gap: 200px;
}

.connection-line {
  left: 30px;
  top: 17%;
  position: absolute;
  display: flex;
  width: 95%;
  height: 3px;
  background-color: #FFB703;
}

.step-title {
  font-size: 12px;
  font-weight: 700;
  width: 70px;
  text-align: center;
}

.steps-btn {
  font-size: 12px;
  font-weight: 600;
  padding: 5px 14px;
  background-color: #FFB703;
  border-radius: 50px;
  width: 27px;
  display: flex;
  justify-content: center;
  border: none;
}

.steps-btn:active {
  background-color: #FF6E1F;
}

/* STEP ONE */
#step-one.tab-pane.show.active {
  display: flex;
  gap: 50px;
}

.travelers {
  background-color: white;
  width: 730px;
  border-radius: 0px 0px 20px 20px;
  border: 1px solid #02304765;
  padding: 20px;
  gap: 10px;
}

.travelers-title {
  background-color: #219EBC;
  padding: 15px 20px;
  border-radius: 20px 20px 0px 0px;
  width: 730px;
}

.traveler-card,
.add-traveler {
  background-color: white;
  width: 130px;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #02304765;
}

.traveler-name,
.add-traveler-txt {
  font-weight: 600;
}

.traveler-pic {
  width: 85px;
}

.traveler-pic img {
  width: 100%;
  object-fit: cover;
  border-radius: 100px;
}

/* ADD TRAVELER */
.add-traveler {
  gap: 20px;
  cursor: pointer;
}

.add-traveler:hover {
  background-color: #219EBC;
}

.add-traveler-txt {
  text-align: center;
  width: 100px;
}

.add-traveler-icon {
  width: 33px;
}

/* TRAVELERS QUANTITY */

.travelers-count {
  font-size: 24px;
  font-weight: 700;
}

.travelers-quantity {
  background-color: white;
  border-radius: 20px;
  padding: 25px 30px;
  width: 355px;
  height: 106px;
  border: 1px solid #02304765;
}

.remove-all-travelers {
  display: flex;
  justify-content: flex-end;
  text-decoration: underline;
}

/* STEP TWO */

.destination {
  background-color: white;
  border: 1px solid #02304765;
  border-radius: 20px;
  padding: 25px 30px;
  width: 1132px;
  gap: 20px;
}

label {
  font-size: 14px;
  font-weight: 600;
}

.place-of-departure {
  border-radius: 15px;
  border: 1px solid #02304765;
  padding: 10px 20px;
  font-size: 14px;
  width: 220px;
}

.destination-top-section,
.tourism-type-top-section {
  gap: 10px;
  align-items: center;
}

.random-btn {
  display: flex;
  background-color: #219EBC;
  border: 1px solid #02304765;
  border-radius: 10px;
  padding: 5px 10px;
  width: min-content;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.random-icon img {
  object-fit: cover;
  width: 20px;
}

.random-text {
  color: #023047;
  font-weight: 600;
  font-size: 14px;
}

.destination-selection {
  width: 130px !important;
  height: 130px;
  border-radius: 20px !important;
}

/* TYPES OF TOURISM */
.tourism-type-card {
  border: 1px solid #02304765;
  width: 130px;
  padding: 10px;
  font-weight: 600;
  gap: 10px;
  border-radius: 20px;
}

.tourism-type-selection {
    gap: 5px;
    width: 100%;
    overflow: hidden;
    padding: 0px 30px;
    position: relative;
}

/* SCROLL BUTTONS */
.scroll-btns {
  position: absolute;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  left: 0;
}

.scroll-btn-right, .scroll-btn-left {
  background-color: white;
  border: 1px solid #02304765;
  padding: 10px 12px;
  border-radius: 30px;
}

.scroll-btn-left {
  transform: rotate(180deg);
}


/* STEP FOUR */
.sugestions {
  background-color: white;
  width: 1136px;
  border-radius: 20px;
  border: 1px solid #02304765;
  padding: 20px 15px;
}

.row {
  gap: 5px;
  margin-bottom: 5px;
}

.sugestions-grid {
  gap: 10px;
}

/* FILTER */

.checkboxes {
  gap: 3px;
}

.btn-outline-primary {
  border: 1px solid #02304765;
  color: #023047;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  width: fit-content;
}

.form-range {
  width: 245px;
}

.times-tab {
  gap: 5px;
  padding: 5px;
  border: 1px solid #02304765;
  border-radius: 15px;
}

.take-off,
.landing {
  gap: 5px;
  font-size: 14px;
  border: 1px solid #02304765 !important;
  border-radius: 10px !important;
  color: black;
}

/* FLIGHT CARD */

.flight-card {
  width: 262px;
  border: 1px solid #02304765;
  padding: 20px;
  gap: 10px;
  border-radius: 15px;
}

.flight-destination {
  font-size: 16px;
}

.flight-bottom {
  gap: 20px;
}

.favorite-select {
  gap: 10px;
}

.cabin-sugestion {
  font-size: 12px;
}

.select-btn {
  padding: 7px 20px;
  border-radius: 10px;
}

/* STEP FIVE */

.checkout {
  background-color: white;
  padding: 20px;
  width: 329px;
  border: 1px solid #02304765;
  border-radius: 20px;
  gap: 10px;
}

.checkout-title {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.order-summary {
  font-size: 16px;
  font-weight: 600;
}

.summary {
  font-size: 14px;
}

.sub-total-quantity,
.discount-quantity {
  font-weight: bold;
}

.total-title,
.total-quantity {
  font-weight: 700;
}

.total-title {
  font-size: 16px;
}

.total-quantity {
  font-size: 20px;
}

.checkout-btn-group {
  gap: 10px;
}

.checkout-btn,
.coupon-btn {
  border-radius: 10px;
  gap: 5px;
}

.checkout-btn {
  font-size: 14px;
  color: black;
  font-weight: 500;
  background-color: #FFB703;
  border: 2px solid #FFB703;
}

.coupon-btn {
  font-size: 14px;
  color: #FFB703;
  font-weight: 500;
  border: 2px solid #FFB703;
}
