/* APPLIED TO ALL */

.line-div {
  margin: 10px 0px;
  height: 1px;
  background-color: #02304765;
}

body {
  background-color: #FFB703;
}

main {
  padding: 55px 0px 0px 0px !important;
}

.tab-content {
  padding: 40px 180px;
}

/* STEPS NAV */
.steps-nav {
  display: flex;
  justify-content: center;
  padding: 20px;
  border: 1px solid #02304765;
  background-color: white;
  flex-wrap: nowrap;
}

.steps-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

.steps-container {
  position: relative;
  gap: 200px;
}

.connection-line {
  left: 30px;
  top: 17%;
  position: absolute;
  display: flex;
  width: 95%;
  height: 3px;
  background-color: #FFB703;
}

.step-title {
  font-size: 12px;
  font-weight: 700;
  width: 70px;
  text-align: center;
}

.steps-btn {
  font-size: 12px;
  font-weight: 600;
  padding: 5px 14px;
  background-color: #FFB703;
  border-radius: 50px;
  width: 27px;
  display: flex;
  justify-content: center;
  border: none;
}

.steps-btn.active {
  background-color: #FF6E1F;
}

/* STEP ONE */
#step-one.tab-pane.show.active {
  display: flex;
  gap: 50px;
}

.travelers {
  background-color: white;
  width: 730px;
  border-radius: 0px 0px 20px 20px;
  border: 1px solid #02304765;
  padding: 20px;
  gap: 10px;
}

.travelers-title {
  background-color: #219EBC;
  padding: 15px 20px;
  border-radius: 20px 20px 0px 0px;
  width: 730px;
  font-family: Sora;
  font-weight: 600;
}

.traveler-card,
.add-traveler {
  background-color: white;
  width: 130px;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #02304765;
  box-shadow: 0px 2px 4px 0px rgba(2, 48, 71, 0.2);
}

.traveler-name,
.add-traveler-txt {
  font-weight: 600;
}

.traveler-pic {
  width: 85px;
}

.traveler-pic img {
  width: 100%;
  object-fit: cover;
  border-radius: 100px;
}

/* ADD TRAVELER */
.add-traveler {
  gap: 20px;
  cursor: pointer;
}

.add-traveler:hover {
  background-color: #219EBC;
}

.add-traveler-txt {
  text-align: center;
  width: 100px;
}

.add-traveler-icon {
  width: 33px;
}

/* TRAVELERS QUANTITY */

.travelers-count,
.date-count {
  font-size: 24px;
  font-weight: 700;
}

.travelers-quantity,
.date-values {
  background-color: white;
  border-radius: 20px;
  padding: 25px 30px;
  width: 355px;
  height: fit-content;
  border: 1px solid #02304765;
  box-shadow: 0px 2px 4px 0px rgba(2, 48, 71, 0.2);
}

.remove-all-travelers {
  display: flex;
  justify-content: flex-end;
  text-decoration: underline;
}

/* STEP TWO */

.destination {
  background-color: white;
  border: 1px solid #02304765;
  box-shadow: 0px 2px 4px 0px rgba(2, 48, 71, 0.2);
  border-radius: 20px;
  padding: 25px 30px;
  width: 1132px;
  gap: 20px;
}

label {
  font-size: 14px;
  font-weight: 600;
}

.place-of-departure,
.departure-input {
  border-radius: 15px;
  border: 1px solid #02304765;
  box-shadow: 0px 2px 4px 0px rgba(2, 48, 71, 0.2);
  padding: 10px 20px;
  font-size: 14px;
  width: 220px;
}

.destination-top-section,
.tourism-type-top-section {
  gap: 10px;
  align-items: center;
}

.random-btn {
  display: flex;
  background-color: #219EBC;
  border: 1px solid #02304765;
  border-radius: 10px;
  padding: 5px 10px;
  width: min-content;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.random-icon img {
  object-fit: cover;
  width: 20px;
}

.random-text {
  color: #023047;
  font-weight: 600;
  font-size: 14px;
}

/* TYPES OF TOURISM */
.selected{
  outline: 3px solid #FFB703;
}

.tourism-type-card {
  border: 1px solid #02304765;
  box-shadow: 0px 2px 4px 0px rgba(2, 48, 71, 0.2);
  width: 130px;
  padding: 10px;
  font-weight: 600;
  gap: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.tourism-type {
  position: relative;
  width: 100%;
}

.tourism-type-selection {
    gap: 10px;
    width: 100%;
    overflow: hidden;
    padding: 10px 30px;
}

.tourism-type-img {
  width: 110px;
  height: 110px;
}

/* SCROLL BUTTONS */
.scroll-btns {
  position: absolute;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  left: 0;
}

.scroll-btn-right, .scroll-btn-left {
  background-color: white;
  border: 1px solid #02304765;
  box-shadow: 0px 2px 4px 0px rgba(2, 48, 71, 0.2);
  padding: 10px 12px;
  border-radius: 30px;
  cursor: pointer;
}

.scroll-btn-left {
  transform: rotate(180deg);
}

/* DESTINATION */

.destination-container {
  position: relative;
}

.destination-selection-box {
  position: absolute;
  background-color: white;
  border: 1px solid #02304765;
  border-radius: 20px;
  padding: 20px;
  gap: 10px;
  width: 555px;
  flex-direction: column;
  left: 140px;
  bottom: 0px;
  display: none;
}

.destination-title {
  font-size: 16px;
  text-align: start;
}

.close-btn {
  cursor: pointer;
}

.search-bar {
  border: 1px solid #02304765;
  padding: 5px 10px;
  border-radius: 10px;
  gap: 5px;
}

.search-input {
  border: none;
}

.destination-selection {
  width: 130px !important;
  height: 130px;
  border-radius: 20px !important;
  position: relative;
  border: 1px solid #02304765;
  cursor: pointer;
}

.destination-selection:hover {
  background-color: #219EBC;
}

.destination-selection-section {
  position: relative;
}

.destination-card-section {
  gap: 10px;
  overflow: hidden;
  padding: 10px;
}

.destination-card {
  border-radius: 15px;
  border: 1px solid #02304765;
  width: 155px;
  height: 180px;
  gap: 5px;
  flex: 0 0 145px;
  padding: 7px;
  cursor: pointer;
}

.destination-img {
  width: 135px;
  height: 135px;
  border-radius: 10px;
}

.selected-destination-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}


/* STEP THREE */

.date-section {
  gap: 50px;
}

.date-info {
  gap: 5px;
}

.date-values {
  gap: 10px;
}

.date-range {
  margin-bottom: 5px;
}

.date-count,
.date-range {
  margin: 0;
}

.flatpickr-calendar {
  width: 55% !important;
  border-radius: 20px;
  font-family: Inter;
  border: 1px solid #02304765;
  box-shadow: 0px 2px 4px 0px rgba(2, 48, 71, 0.2);
}

.flatpickr-months {
  border-radius: 20px 20px 0px 0px;
  background-color: #219EBC;
  padding: 10px;
  font-family: Sora;
  font-size: 16px;
  font-weight: 600;
}

.flatpickr-innerContainer {
  width: 100% !important;
}

.flatpickr-rContainer {
  width: 100% !important;
  padding: 10px;
}

.flatpickr-days {
  width: auto !important;
}

.flatpickr-day.selected {
  outline: 3px solid #219EBC;
  z-index: 1;
}

.flatpickr-day.selected.startRange, 
.flatpickr-day.startRange.startRange, 
.flatpickr-day.endRange.startRange {
    border-radius: 100%;
    border: 3px solid #219EBC;
    -webkit-box-shadow: -5px 0 0 #219EBC, 5px 0 0 #219EBC;
}

.flatpickr-day.selected, 
.flatpickr-day.startRange, 
.flatpickr-day.endRange, 
.flatpickr-day.selected.inRange, 
.flatpickr-day.startRange.inRange, 
.flatpickr-day.endRange.inRange, 
.flatpickr-day.selected:focus, 
.flatpickr-day.startRange:focus, 
.flatpickr-day.endRange:focus, 
.flatpickr-day.selected:hover, 
.flatpickr-day.startRange:hover, 
.flatpickr-day.endRange:hover, 
.flatpickr-day.selected.prevMonthDay, 
.flatpickr-day.startRange.prevMonthDay, 
.flatpickr-day.endRange.prevMonthDay, 
.flatpickr-day.selected.nextMonthDay, 
.flatpickr-day.startRange.nextMonthDay, 
.flatpickr-day.endRange.nextMonthDay {
    background: #023047;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    border-color: #219EBC;
}

.flatpickr-day.selected.endRange, .flatpickr-day.startRange.endRange, .flatpickr-day.endRange.endRange {
    border-radius: 100%;
}
.flatpickr-day.inRange {
    background-color: #219EBC;
}

/* STEP FOUR */
.sugestions {
  background-color: white;
  width: 1136px;
  border-radius: 20px;
  border: 1px solid #02304765;
  padding: 20px 15px;
  overflow: hidden;
}

.row {
  gap: 5px;
  margin-bottom: 5px;
}

.suggestions-flights-grid,
.suggestions-stays-grid,
.suggestions-festivals-grid {
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 10px;
  width: 100%;
  margin-left: 50px;
}

.suggestions-flights-grid {
  width: 50%;
  margin: 0;
}

.sugestions-category-contents.tab-content {
  padding: 0px 20px 0px 0px;
  justify-content: flex-end;
  width: 100%;
}

.section-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.section-div {
  border: 1px solid #02304765;
  width: 100%;
  height: 1px;
  margin: 15px 0px;
}

/* FAVORITES */
.favorites-section,
.suggestions-section {
  width: 100%;
  align-items: start;
  margin-left: 50px;
}

.favorites-section {
}

.favorite-flights {
  gap: 10px;
}

/* SUGESTIONS CATEGORY TAB */

.sugestion-category {
  border: 1px solid #02304765;
  border-radius: 15px;
  padding: 5px;
  gap: 5px;
}

.category-tab {
  border: 1px solid #02304765;
  border-radius: 10px;
  padding: 10px;
  gap: 5px;
  background-color: transparent;
}

.tab-label {
  font-size: 14px;
  font-weight: 500;
  display: none;
}

.category-tab.active .tab-label {
  display: flex;
}

.category-tab.active {
  flex-grow: 1;
  background-color: #FFB703;
}

/* FILTER */

.filters {
  border-right: 1px solid #02304765;
  padding-right: 10px;
  width: 230px;
  flex-shrink: 0;
}

.filters .tab-content {
  padding: 0px;
}

.checkboxes {
  gap: 3px;
}

.btn-outline-primary {
  border: 1px solid #02304765;
  color: #023047;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  width: fit-content;
}

/* RANGE FORMS */
.form-range::-webkit-slider-runnable-track {
  background-color: transparent;
  border: 1px solid #02304765;
}

.form-range::-webkit-slider-thumb {
  background-color: #FFB703;
}

.times-tab {
  gap: 5px;
  padding: 5px;
  border: 1px solid #02304765;
  border-radius: 15px;
}

.times-btn-tab {
  gap: 5px;
  font-size: 14px;
  border: 1px solid #02304765 !important;
  border-radius: 10px !important;
  color: black;
  padding: 5px 10px;
  cursor: pointer;
  background-color: transparent;
}

.times-btn-tab.active {
  background-color: #FFB703;
}


/* FLIGHT CARD */

.flight-card,
.stay-card,
.festival-card {
  width: 262px;
  border: 1px solid #02304765;
  padding: 15px;
  gap: 7px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(2, 48, 71, 0.2);
}

.flight-destination,
.stay-title {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  width: 100%;
}

.flight-info {
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
}

.flight-airline-img {
  width: 35px;
  height: 35px;
}

.flight-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favorite-select {
  gap: 10px;
}

.favorite {
  cursor: pointer;
}

.cabin-sugestion,
.price-meter {
  font-size: 12px;
}

.select-btn {
  display: flex;
  gap: 5px;
  padding: 7px 15px;
  border-radius: 10px;
  border: 1px solid #02304765;
  background-color: #FFB703;
  font-weight: 500;
  cursor: pointer;
}

.flight-card .select-btn img.checked {
  display: flex;
}

.flight-card .select-btn img:not(.checked) {
  display: none;
}

/* STAY CARD */
.stay-img {
  width: 223.5px;
  height: 149px;
  border-radius: 15px;
}

.see-details {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.rating {
  gap: 10px;
  text-align: start;
  width: 100%;
}

.rating-num {
  padding: 5px 10px;
  background-color: #FFB703;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;
}

.rating-grade {
  font-size: 14px;
  font-weight: 600;
}

.price {
  font-weight: 600;
}


/* STEP FIVE */

.payment-section {
  width: 100%;
  gap: 30px;
}

.checkout {
  background-color: white;
  padding: 20px;
  width: 329px;
  border: 1px solid #02304765;
  border-radius: 20px;
  gap: 10px;
  height: fit-content;
}

.checkout-title {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.order-summary {
  font-size: 16px;
  font-weight: 600;
}

.summary {
  font-size: 14px;
}

.sub-total-quantity,
.discount-quantity {
  font-weight: bold;
}

.total-title,
.total-quantity {
  font-weight: 700;
}

.total-title {
  font-size: 16px;
}

.total-quantity {
  font-size: 20px;
}

.checkout-btn-group {
  gap: 10px;
}

.checkout-btn,
.coupon-btn {
  border-radius: 10px;
  gap: 5px;
  padding: 7px 10px;
}

.checkout-btn {
  font-size: 14px;
  color: black;
  font-weight: 500;
  background-color: #FFB703;
  border: 2px solid #FFB703;
}

.coupon-btn {
  font-size: 14px;
  color: #FFB703;
  font-weight: 500;
  border: 2px solid #FFB703;
  background-color: transparent;
}

.cart-section {
  background-color: white;
  padding: 25px;
  border: 1px solid #02304765;
  border-radius: 20px;
  height: fit-content;
  width: 773px;
}

.cart-items {
  gap: 15px;
}

.cart-item {
  border: 1px solid #02304765;
  padding: 5px 15px;
  gap: 20px;
  border-radius: 15px;
}

.item-title,
.item-category,
.item-date,
.item-location,
.item-price {
  display: flex;
  justify-content: center;
  width: 130px;
  font-weight: 500;
  font-size: 14px;
}

.cart-item-container {
  position: relative;
}

.remove-item {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: rgba(190, 190, 190, 0.903);
  border-radius: 100%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-item img {
  width: 17px;
}

.see-details-btn {
  border: 1px solid #02304765;
  border-radius: 10px;
  background-color: #FFB703;
  padding: 7px 10px;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  max-width: max-content;
  gap: 5px;
}

.cart-items p {
  margin: 0;
}