/* PROFILE HEADER */

.profile-header {
  background-color: white;
  border: 1px solid #02304765;
  border-radius: 20px;
  padding: 20px 30px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.profile-pic {
  width: 100px;
}

.profile-pic img {
  width: 100%;
  border-radius: 100%;
}

.profile-box {
  display: flex;
  gap: 20px;
  align-items: center;
}

.profile-info {
  font-weight: 600;
  font-size: 16px;
}

.collectables {
  display: flex;
  gap: 5px;
  height: 100px;
}

.achievements, .countries-visited {
  display: flex;
  align-items: center;
  border: 1px solid #02304765;
  border-radius: 15px;
  gap: 10px;
  padding: 10px 15px;
  font-weight: 600;
  width: 280px;
}

.achievements-title, .countries-visited-title, .total-friends-title {
  width: 120px;
  font-weight: 700;
  font-family: inter;
}

.achievement-title-box {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.achievements-total, .countries-visited-total, .total-friends-count {
  padding: 3px 12px;
  background-color: #FFB703;
  border-radius: 10px;
  font-weight: 600;
}

progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 12px;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  width: 100%;
  gap: 5px;
  display: flex;
  align-items: center;
}

.progress-value {
  font-family: inter;
  font-size: 12px;
  font-weight: 600;
}

.img-container {
  width: 77px;
  height: 77px;
  display: flex;
  justify-content: center;
}

.img-container img {
  object-fit: cover;
}

.total-friends {
  display: flex;
  align-items: center;
  gap: 10px;
}

.div-header {
  border: 1px solid black;
  height: 100%;
  width: 0;
  margin: 0px 10px;
}

/* PROFILE MAIN */ 

.profile-main {
  background-color: white;
  border: 1px solid #02304765;
  border-radius: 20px;
  padding: 20px 30px;
}

.achievements-section {
  background-color: white;
  border: 1px solid #02304765;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  margin-bottom: 10px;
}

.achievements-categories {
  background-color: white;
  border: 1px solid #02304765;
  border-radius: 15px;
  padding: 10px 20px;
  min-width: 100px;
}

/* CARDS PER CATEGORY */

.achievement-cards-section {
  background-color: white;
  border: 1px solid #02304765;
  border-radius: 20px;
  padding: 20px 35px;
  gap: 10px;
  width: 100%;
  overflow: hidden;
}

.achievements-cards-category-content {
  position: relative;
}

.achievement-card {
  background-color: white;
  border: 1px solid #02304765;
  border-radius: 15px;
  width: 188px;
  padding: 20px;
  align-items: center;
  gap: 10px;
  height: 235px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex: 0 0 188px;
}

.country {
  display: flex;
  gap: 30px;
}

.achievement-card h3 {
  font-size: 16px;
  margin: 0;
}

.achievement-card p {
  font-size: 14px;
  text-align: center;
  margin: 0;
}

/* SCROLL BUTTONS */
.scroll-btns {
  position: absolute;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  justify-content: space-between;
  width: 100%;
  padding: 5px;
}

.scroll-btn-right, .scroll-btn-left {
  background-color: white;
  border: 1px solid #02304765;
  padding: 10px 12px;
  border-radius: 30px;
}

.scroll-btn-left {
  transform: rotate(180deg);
}

/* USER PROFILE MENU */
.other-user-resources {
  gap: 10px;
}

.user-profile-main-menu {
  gap: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #02304765;
  border-radius: 10px;
  width: 200px;
}

.main-menu-tab {
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #02304765;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
}

.main-menu-tab:hover {
  background-color: #FFB703;
}

/* COUPON SHOP */
.coupons-section {
  gap: 10px;
  width: 100%;
}

.coupon-card {
  border: 1px solid #02304765;
  border-radius: 15px;
  gap: 10px;
  width: 188px;
  height: 235px;
}

.discount-value {
  font-weight: 500;
}

.points-price {
  border: 1px solid #02304765;
  background-color: #FFB703;
  border-radius: 10px;
  padding: 10px 20px;
  gap: 5px;
}

.points-value {
  font-weight: 600;
}